.parallax{
  background-image: url('https://cdn.pixabay.com/photo/2018/11/18/00/50/karaoke-3822350_960_720.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
