<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img src="./../../assets/img5.jpg" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Usuario name</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary d-flex justify-content-center"
            >Visite seu perfil</a
          >
          <hr class="mt-4 mb-4" />
          <h6 class="mb-3 font-monospace text-center">Pesquisar por título</h6>
          <input type="text" class="form-control mb-3 w-100" />
          <button class="btn btn-outline-warning w-100">Pesquise</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div>
        <h3 class="text-center mb-4 font-monospace">Comente</h3>
        <div class="form-group">
          <label for="nome" class="font-monospace">Nome:</label>
          <input
            type="text"
            id="nome"
            name="nome"
            class="form-control mt-2"
            autocomplete="off"
            placeholder="Informe seu nome"
            [(ngModel)]="post.nome"
          />
          <!--for sempre aponta para um id-->
        </div>
        <div class="form-group">
          <label for="mensagem" class="font-monospace">Mensagem:</label>
          <textarea
            id="mensagem"
            name="mensagem"
            autocomplete="off"
            cols="30"
            rows="4"
            class="form-control mb-4"
            [(ngModel)]="post.mensagem"
          >
          </textarea>
          <!--for sempre aponta para um id-->
          <div class="d-flex justify-content-end mt-4">
            <button
              type="button"
              class="btn btn-outline-info w-25"
              (click)="postar()"
            >
              Publicar
            </button>
          </div>
        </div>
        <hr class="mt-5 mb-5" />

        <h3 class="text-center mb-5 text-monospace">Comentários adicionados</h3>
        <div class="container">
          <div class="card mb-4" *ngFor="let post of listPost">
            <div class="card-header">
              <h5 class="card-tile">{{ post.id }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">{{ post.nome }}</p>
              <p class="card-text">{{ post.mensagem }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
