<div class="container">
  <form action="">
  <h1 class="contato mb-5 mt-5"> Entre em contato</h1>
  <div class="mb-3 contato">
    <label for="" class="form-label"
      >Informe seu nome</label
    >
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Paulo Lucena"
    />
  </div>
  <div class="mb-3 contato">
    <label for="" class="form-label"
      >Informe seu e-mail</label
    >
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@exemplo.com"
    />
  </div>
    <div class="mb-3 contato">
    <label for="" class="form-label"
      >Sua mensagem</label
    >
    <textarea
      class="form-control"
      id="mensagem"
      rows="8"
    ></textarea>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark">
        Enviar
      </button>
    </div>
  </div>
</form>
</div>
